:root {
    --footer-color: #f4f4fd;
}

* {
box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 /* HEADER */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {

    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
position: relative;
}

.nav-link.current::after {
content: "";

position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height:4px;
border-radius: 2px;
background-color: #404bbf;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/*1 HERO SECTION */

.hero-section {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0; 
    text-align: center;
    position: relative;
    }

 .hero-container {
    position: relative;
    z-index: 1;
}

.hero-title {
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* max-width: 496px; */
    margin: 0 auto 48px;
    position: relative;
}

.hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

 /* 2 SECTION FEATURES */ 

.features-section {
    background-color: #fff;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
    flex-basis: calc((100% - 72px) / 4);
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
 }

 .icon {
    fill: #4d5ae5;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    margin-bottom: 72px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
    /* 3 SECTION TEAM */

.team-section {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title{
font-family: var(--font-family);
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
}

.team-list {
 display: flex;
 gap: 24px;
 justify-content: space-between;
 flex-wrap: nowrap;
}

.team-card {
 background-color: #ffffff;
 text-align: center;
  border-radius: 0 0 4px 4px;
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
             0px 1px 1px rgba(46, 47, 66, 0.16),
             0px 2px 1px rgba(46, 47, 66, 0.08);
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card img {
    object-fit: cover;
    display: block;
    width: 100%;
}

.team-card-info {
    padding: 32px 0;
}

.team-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-card-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 16px;
}
 .social-list-team {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  justify-content: center;
 }
    
.social-item-team {
 width: 40px;
 height: 40px;
 
}

.social-link-team {
 width: 100%;
 height: 100%;
 background-color: #4d5ae5;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-team:hover .social-link-team,
.social-link-team:focus {
  background-color: #404bbf;  
}


 .icon {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 

/* 4 SECTION PORTFOLIO */

.portfolio-section {
    background-color: #ffffff;
    padding: 120px 0;
}

.container {
    position: relative;
    overflow: hidden; 
}

.section-title {
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 

.portfolio-item {
    background-color: #ffffff;
    text-align: center;
    width: calc((100% - 48px) / 3);
    border-radius: 0 0 4px 4px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .portfolio-item:hover {
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
             0px 1px 1px rgba(46, 47, 66, 0.16), 
             0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
 
.portfolio-thumb img {
    object-fit: cover;
    display: block;
    width: 100%;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
  }

.portfolio-item:hover .card-content::before {
  bottom: 0;
}

.portfolio-card-content {
  padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;  
  position: relative;
  z-index: 2;
}
 
.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    /* ✅ відступ до параграфа */
}

.portfolio-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer DONZO */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
 }

.footer-brand {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
 }

.footer-logo .logo-part {
    color: var(--footer-color);
}

.footer-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
 

.social-container {
  display: flex;
  flex-direction: column;
 }

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
 
.social-list-footer {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
 width: 40px;
  height: 40px;
  position: relative;
}

.social-link-footer {
 width: 100%;
 height: 100%;
 background-color: #4d5ae5; 
 border-radius: 50%;
 display: flex;
 align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover .social-link-footer,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.icon {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----backdrop----- */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.04);
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
               visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.backdrop.is-open {
opacity: 1;
   visibility: visible;
   pointer-events: auto;
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}

.modal {
   position:absolute;
   top: 50%;
   left: 50%;
   width: 408px;
   min-height: 584px;
   border-radius: 4px;
   transform: translate(-50%, -50%);
   padding: 40px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height:24px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
 transform: scale(1.2);
}

 .modal-title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  text-align: center;
  color: var(--navy-blue);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-label input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-checkbox input:checked + .checkbox-icon {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
}
.checkbox-text {
  user-select: none;
}

.modal-submit {
  padding: 12px;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit:hover {
  background-color: #3b4bd3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}













